{{define "dashboard"}}
<div class="columns is-multiline">
    <!-- Placeholder tiles; these will later be rendered from config data -->
    <div class="column is-one-quarter">
        <div class="box aurora-tile">
            <p class="title is-5">Example Service</p>
            <p class="subtitle is-6">This will be populated from config.yaml</p>
            <a class="button is-small is-info is-light" href="#">
                Open
            </a>
        </div>
    </div>

    <div class="column is-one-quarter">
        <div class="box aurora-tile">
            <p class="title is-5">Another Service</p>
            <p class="subtitle is-6">More tiles coming soon...</p>
            <button class="button is-small is-dark" disabled>
                Placeholder
            </button>
        </div>
    </div>
</div>
{{end}}